<div class="flex font-sans">	
<h1 class="flex-auto font-semibold"> 
	Title: <%= @product.title %> </h1>
<div class="flex-auto p-6">
<div class="w-full flex-none text-sm font-medium">
<h2 class="flex-auto font-semibold">	Description
</h2>	
<%= @product.description %> 
</div>
<div class="flex flex-wrap">
<div class="flex items-baseline mt-4 mb-6 border-b border-gray-200">

<ul>
	<li> <%= link_to "Edit", edit_product_path(@product) %> </li>
	<li>
		<%= link_to "Destroy", product_path(@product),
								method: :delete,
								data: {confirm: "Are you sure?"} %>
	</li>
	<li>
		<%= link_to "Products", products_path%>
	</li>	
	<li>
		<%= link_to "Add to cart", products_user_cart_create_path(product_id: @product.id)%>
	</li>	
</ul>	
</div>
</div>
</div>
</div>